.search-container{
  display: flex;
  margin-bottom: 20px;
  justify-content: flex-end;
  border-width: 5px;
  padding: 5px;
}
.badge-container{
  display: flex;
  margin-bottom: 10px;
  padding-left: 0;
  .tag-header{
    font-weight: 500;
    margin-right: 20px;
  }
  .badge-column{
    padding-left: 0;
    max-width: fit-content;
  }
}
.modal-container{
  min-width: 800px !important;
}

